::-webkit-input-placeholder {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color:  #495058;

}
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
    font-weight: bold;
    font-size: 20px

 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
    font-weight: bold;
    font-size: 20px

 }
 
 :-ms-input-placeholder {  
    text-align: center;
    font-weight: bold; 
    font-size: 20px
 }

.voterForm{
    color: #495058;
    width: 85%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    background-color: lightblue;
    border-radius: 25px;
    text-align: center;
    display:block;
}

.formGroupA .A {
    width: 30%;
    border-radius: 15px;
    height: 50px;
    align-content: flex;
    margin: 20px;
    color: #495058

}

.formGroupA select{
    width: 25%;
    border-radius: 25px;
    text-align: center;
    height: 50px;
    align-content: flex;
    margin: 20px;
    color:  #495058;
}

.formGroupB #address {
    width: 91%;
    border-radius: 15px;
    height: 50px;
    align-content: flex;
    margin: 20px;
}

.formGroupD select{
    width: 15%;
    border-radius: 15px;
    height: 50px;
    align-content: flex;
    margin: 20px;
    color:  #495058;
}

.formGroupC input, select{
    width: 25%;
    border-radius: 15px;
    height: 50px;
    align-content: flex;
    margin: 20px;
    color:  #495058;

}

button {
    margin-top: 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 30px;
    background-color: lightseagreen;
    padding: 15px
}

select {
    height: 50px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #495058;
    text-align-last:center;

}